html {
  font-size: 14px;
  
}
.img-logo{ 
  height: 10vh;
}
.img-fondo{
  width: 100%;
}
.fs-7{
  font-size: 0.8rem;
}

.input-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.input-mid {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.input-bot {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.swal2-radio{
  background-color: #19191a !important;
  color: aliceblue !important;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
}





