@model List<Inmobiliaria.Models.Inquilino>
    
@{
    ViewData["Title"] = "Registrar Inquilino";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Registrar Inquilino</h1>
    <div class="container mt-4 ">
    <form class="form form-floating d-flex flex-wrap flex-column gap-4" action="" method="post" data-bs-theme="dark" onsubmit="return confirmarCreacion(event)">
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center">
            <input id="apellido" class="form-control" type="text" name="Apellido" placeholder="asd" required>
            <label for="apellido" class="ms-2">Apellido</label>
         </div>
         
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center">
             <input id="nombre" class="form-control" type="text" name="Nombre" placeholder="asd" required>
             <label for="nombre" class="ms-2">Nombre</label>
         </div>
         
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center">
             <input id="dni" class="form-control" type="text" name="Dni" placeholder="asd" required>
             <label for="dni" class="ms-2">DNI</label>
         </div>
         
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center">
             <input id="telefono" class="form-control" type="tel" name="Telefono" placeholder="asd" required>
             <label for="telefono" class="ms-2">Teléfono</label>
         </div>
         
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center">
             <input id="correo" class="form-control" type="email" name="Correo" placeholder="asd" required>
             <label for="correo" class="ms-2">Correo</label>
         </div>
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center">
             <button type="submit" class="btn btn-primary mx-auto" style="width: 8vw;">Registrar</button>
         </div>
       
        
    </form>
    
</div>

</div>

